clearpart --all --initlabel
text
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8

# Use network installation
url --url="http://mirrors.mit.edu/centos/8-stream/BaseOS/x86_64/os"

# Network information
network  --bootproto=dhcp --device=link --ipv6=auto --activate
network  --hostname=localhost

# Set crypted Root password - https://access.redhat.com/solutions/44662
rootpw --lock
# Disable the Setup Agent on first boot
firstboot --disable
# Accept Eula
eula --agreed
# Reboot when the install is finished.
reboot
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone US/Eastern --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org
# Disk partitioning information
part /boot --fstype="ext4" --size=1024
part / --fstype="xfs" --size=1024 --grow


%packages
@^minimal-environment
@standard

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --log=/root/kickstart-post.log
mkdir -m 700 /root/.ssh
curl -o /root/.ssh/authorized_keys -L https://github.com/larsks.keys
chmod 600 /root/.ssh/authorized_keys
restorecon -rvi /root
%end
